extends layout

block content
  h1= title
  p Welcome to #{title}
  small SDK Address
  br
  code #{server}
  br
  br
  button Send SMS
  br
  br
  button Send Airtime
  br
  br
  button Mobile Checkout
  br
  br
  button Card Checkout
  br
  br
  button Bank Checkout

