extends layout

block content
    h4 Welcome to #{title}
    br
    a.btn.btn-outline-secondary(href='/sms') Send SMS
    br
    br
    a.btn.btn-outline-secondary(href="airtime") Send Airtime
    br
    br
    a.btn.btn-outline-secondary(href="payments/mobile-checkout") Mobile Checkout
    br
    br
    a.btn.btn-outline-secondary(href="payments/bank-checkout") Bank Checkout
    br
    br
    a.btn.btn-outline-secondary(href="/ussd") Test USSD
    br
    br
    a.btn.btn-outline-secondary(href="") Voice
