extends layout

block content
  h4 Welcome to #{title}
  br
  a.btn.btn-outline-secondary(href='/sms') Send SMS
  br
  br
  a.btn.btn-outline-secondary(href="") Send Airtime
  br
  br
  a.btn.btn-outline-secondary(href="") Mobile Checkout
  br
  br
  a.btn.btn-outline-secondary(href="") Card Checkout
  br
  br
  a.btn.btn-outline-secondary(href="") Bank Checkout
  br
  br
  a.btn.btn-outline-secondary(href="/ussd") Test USSD
  br
  br
  a.btn.btn-outline-secondary(href="") Voice
